
#portal-cookieoptout {
  background-color: white;
  border-top-color: black;
  border-top-style: solid;
  border-top-width: 2px;
  display: none;
  text-align: left;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 99999;
  }
#cookieoptoutinner {
  font-size: 12px;
  margin: auto;
  max-width: 960px;
  padding-top: 15px;
  }
#cookieoptoutinner p {
  margin-bottom: 1em;
  max-width: 960px;
  }
#cookieoptoutinner strong {
  font-size: 110%;
  }
#content a.redLink,
#portal-cookieoptout a.redLink{
  color: #c72200;
  padding: 0 0 0 13px;
  text-decoration: none;
  }

